* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --color: #fff; */
  --color: #1a202c;
  --color-btn: #fff;
  /* --background: #1a202c; */
  /* --primary-color: #3f51b5; */
  --primary-color: #0fd583;
  --secondary-color: #560bad;
  --background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(206 255 245) 100%
  );
  --background-2: linear-gradient(
    0deg,
    rgb(233 232 232) 0%,
    rgb(206 255 245) 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
  background: var(--background-2);
  color: var(--color);
  font-family: "roboto", sans-serif;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  /* background: var(--background); */
  background: rgb(206 255 245);
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  transition: transform 0.4s;
  transition: all 0.4s ease 0.4s;
}

.brand {
  text-transform: capitalize;
  font-weight: 500;
}

.links_container {
  display: flex;
  list-style: none;
}

.link {
  text-transform: capitalize;
  color: var(--color);
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

.link:hover:not(.active) {
  opacity: 0.7;
}

.link.active::before,
.separation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--color);
}

.link.active::after,
.separation::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color);
}

.navMedia {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.navMedia img {
  height: 2em;
}

/* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
  position: fixed;
  top: 65px;
  right: 1%;
  z-index: 1;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  /* position: relative; */
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  transition: all 0.4s ease 0.4s;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00bfa6;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #00bfa6;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #560bad;
}

/* Home section */
.home {
  /* background-image: url(../images/971.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  /* background: var(--background); */
  width: 100%;
  min-height: calc(100vh - 60px);
  height: auto;
  /* margin-top: 60px; */
  padding: 60px 10vw 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.hero-content {
  width: 50%;
}

.hero-heading {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 300;
}

.highligth {
  color: var(--primary-color);
}

.profession {
  width: fit-content;
  display: block;
  margin: 10px 0 20px;
  margin-left: auto;
  text-transform: capitalize;
  position: relative;
  padding: 10px 20px;
  color: var(--secondary-color);
  z-index: 2;
}

.profession::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e3e3e3;
  z-index: -1;
  transform: skewX(10deg);
}
.profession::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 2px;
  background: #e3e3e3;
}

.info {
  line-height: 30px;
  margin-bottom: 50px;
}

/* From cssbuttons.io */
button {
  --color: #560bad;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  text-transform: capitalize;
  border-radius: 40px;
  font-weight: 500;
  color: var(--color);
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}
/* From cssbuttons.io by @adamgiebl */
.send {
  margin: 5% auto auto;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  background: #00bfa6;
  color: var(--color-btn);
  overflow: hidden;
  transition: all 0.2s;
  border: none;
}

.send span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send:hover span {
  transform: translateX(6em);
}

.send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.home-image {
  align-self: normal;
  margin: 100px auto;
  width: 40vw;
  /* height: 250px;
  border-radius: 160px;
  border: 10px solid var(--primary-color); */
}

/* about section */
.about {
  width: 100%;
  height: auto;
  padding: 50px 10vw;
}
.heading {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.separation {
  width: 25%;
  margin: 20px auto;
  position: relative;
}

.about-container {
  margin: 100px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 50px;
}

.left-col,
.right-col {
  position: relative;
}

/* .left-col::before {
  content: "asi soy :)";
  text-transform: capitalize;
  position: absolute;
  right: 0;
  top: -20px;
}
.left-col::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 80px;
  width: 50px;
  height: 2px;
  background: var(--color);
  transform-origin: right;
  transform: rotate(-30deg);
} */

.about-image {
  width: 250px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.about-image {
  border-radius: 5% 15%;
}

.about-para {
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 35px;
  margin-bottom: 40px;
}

.skill-container {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #464646;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
.skill-card.large {
  grid-column: 2 span;
}

.skill {
  font-size: 2rem;
  color: #464646;
  line-height: 200px;
}

.skill-card:hover {
  background: var(--bg);
}
.skill-card:hover .skill {
  color: var(--color-btn);
}

/* project */
.project,
.contact {
  position: relative;
  padding: 50px 10vw;
}

.project-container {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.project-card {
  position: relative;
  cursor: pointer;
  display: block;
}
.project-card img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  text-transform: capitalize;
  opacity: 0;
  border-radius: 0 0 15px 15px;
}
.project-name {
  color: var(--color-btn);
  position: absolute;
  top: 10%;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}
.tags {
  color: var(--color-btn);
  text-transform: none;
  position: absolute;

  opacity: 0.7;
  width: 90%;
}
.btn-repo {
  position: absolute;
  bottom: 0;
}
.tags h3 {
  font-weight: bold;
}
.project-card:hover .content {
  opacity: 1;
}

/* contact form */
.contact-form {
  width: 50%;
  margin: auto;
  padding: 3%;
  position: relative;
  background: var(--background-2);
  box-shadow: 0 10px 10px rgb(0 0 0 / 25%);
  border-radius: 15px;
  color: var(--primary-color);
}
.contact-form input,
.message {
  width: 100%;
  display: block;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  color: var(--color);
  border: 1px #c3c1c1 solid;
  background: none;
  outline: none;
  text-transform: capitalize;
  resize: none;
}
.contact-form input[type="email"] {
  text-transform: none;
}

.contact-form .name {
  display: flex;
  justify-content: space-between;
}
.tit-input {
  font-size: 12px;
  padding-top: 5%;
  text-indent: 2px;
}
/* .name input {
  width: 49%;
  margin: 0;
} */
.message {
  height: 200px;
}
.content-form {
  display: flex;
  margin: 10% 0;
}
.content_img_form {
  width: 45%;
  padding-top: 100px;
}
.content_img_form img {
  width: 100%;
}
.slider-img-form {
  display: none;
}
/* footer */

.footer {
  text-align: center;
  background: #00bfa6;
  color: var(--color-btn);
  text-transform: capitalize;
}

.footer div {
  align-items: center;
  display: inline-flex;
}

.img-linkedin,
.img-git,
.img-what {
  height: 50px;
  padding: 5px;
}
